:root {
  --white: hsl(0, 0%, 100%);
  --light_gray: hsl(212, 45%, 89%);
  --shadow_gray: hsl(218, 29%, 84%);
  --grayish_blue: hsl(219, 12%, 66%);
  --dark_blue: hsl(218, 44%, 22%);
  --weight_regular: 400;
  --weight_bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Outfit", sans-serif;
  background-color: var(--light_gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 32rem;
  min-height: 49.7rem;
  background-color: var(--white);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0rem 3rem 3rem var(--shadow_gray);
}

.card img {
  width: 90%;
  border-radius: 1rem;
  margin: 1.6rem;
  margin-bottom: 2.4rem;
}

.card_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  width: 90%;
}

.info_title {
  font-size: 2.2rem;
  line-height: 2.8rem;
  margin: 0 0 1.6rem 0;
  color: var(--dark_blue);
  font-weight: var(--weight_bold);
}

.info_text {
  font-size: 1.5rem;
  font-weight: var(--weight_regular);
  color: var(--grayish_blue);
  line-height: 1.8rem;
  margin: 0;
  width: 90%;
}
